body{
    background-color: #282828;
    color: #fff;
}
.cabecalho{
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
}
.cabecalho .logo{
    display: flex;
    gap: 15px;
}
.cabecalho .menu {
	display: flex;
	gap: 30px;
}

.cabecalho .menu li a {
	padding: 30px;
	color: #e8e8e8;
    font-family: 'Chalet';
	font-weight: bolder;
	font-size: 15px;
}

.cabecalho .menu li a:hover {
	border-bottom: 2px solid #fff;
}
.cabecalho .comprar-agora{
    padding: 30px;
    color: #e8e8e8;
    border: 0.5px solid #fff;
    border-radius: 7px;
    font-size: 15
    px;
    font-family: 'Arial';
    padding: 7px 7px;
    transition: all .3s ease-in;
}
.cabecalho .comprar-agora:hover {
	background-color: #fff;
	color: #000;
}
.visão-geral{
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}
.visão-geral::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) 35%, transparent 65%);
}

.visão-geral .imagem-fundo{
    width: 100%;
    object-fit: cover;
}
.visão-geral .informacoes{
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}
.visão-geral .informacoes img{
    max-width: 150px;
}
.visão-geral .informacoes .lista-de-jogos{
    display: flex;
    gap: 32px;
}
.visão-geral .informacoes .text{
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;
}
.btn-assista-ao-trailer, .btn-comprar-agora, .btn-plataforma{
background-color: rgba(255, 255, 255, .1);
border: 0.5px solid #fff;
border-radius: 4px;
font-family: 'ChaletComprime';
font-size: 28px;
text-align: center;
padding: 20px 40px;
text-transform: uppercase;
width: 50%;
transition: all .3s ease-in;
}
.btn-plataforma{
    color: #fff;
    width: 100%;
    cursor: pointer;
}
    .btn-comprar-agora:hover {
        background-color: #fff;
        color: #000;
    }
    .btn-assista-ao-trailer:hover {
        background-color: #fff;
        color: #000;
    }
    .comprar-agora- .capa-do-jogo{
        width: 270px;
    }
    .comprar-agora-{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px;
        align-items: center;
    }
    .comprar-agora- .titulo{
        font-family: 'ChaletComprime';
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .comprar-agora- .cartao{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        width: 50%;
        border-radius: 10px;
        padding: 80px;
        gap: 40px;
    }
    .comprar-agora- .informacoes{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .comprar-agora- .informacoes h3{
        font-family: 'ChaletComprime';
        font-size: 52px;
        font-weight: 700;
    }
    .comprar-agora- .informacoes p{
        color: #e8e8e8;
        font-family: 'Chalet';
        font-size: 16px;
        line-height: 1.6;
    }
    .comprar-agora- .informacoes .plataformas{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }
    .comprar-agora- .btn-plataforma .plataformas{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: all .3s ease-in;
        display: none;
        opacity: 0;
    }
    .comprar-agora- .btn-plataforma .plataformas.ativo{
        display: flex;
        opacity: 1;
    }
    .comprar-agora- .btn-plataforma .plataformas li{
        padding: 20px;
    }
    .comprar-agora-  .btn-plataforma .plataformas li:nth-child(1){
        border: 1px solid #00439c;
        border-radius: 6px;
        transition: all .2s ease-in;
    }
    
    .comprar-agora-  .btn-plataforma .plataformas li:nth-child(1):hover{
        background-color: #00439c;
    }
    .comprar-agora-  .btn-plataforma .plataformas li:nth-child(2){
        border: 1px solid #387a26;
        border-radius: 6px;
        transition: all .2s ease-in;
    }
    
    .comprar-agora-  .btn-plataforma .plataformas li:nth-child(2):hover{
        background-color: #387a26;
    }
    
    .comprar-agora- .btn-plataforma .plataformas li:nth-child(3) {
        border: 1px solid #00439c;
        border-radius: 6px;
        transition: all .2s ease-in;
    }
    
    .comprar-agora- .btn-plataforma .plataformas li:nth-child(3):hover {
        background-color: #00439c;
    }
    
    .comprar-agora- .btn-plataforma .plataformas li:nth-child(4) {
        border: 1px solid #387a26; 
        border-radius: 6px;
        transition: all .2s ease-in;
    }
    
    .comprar-agora- .btn-plataforma .plataformas li:nth-child(4):hover {
        background-color: #387a26;
    }
    .comprar-agora- .btn-plataforma .plataformas li:nth-child(5) {
        border: 1px solid #fcaf17; 
        border-radius: 6px;
        transition: all .2s ease-in;
    }
    
    .comprar-agora- .btn-plataforma .plataformas li:nth-child(5):hover {
        background-color: #fcaf17;
    }